
/* header */
header{
    background-color: rgb(23, 105, 98);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    nav ul li {
        list-style-type: none;
        display: inline-block;  
        margin-right: 20px;
        margin-top: 40px;

        a{
            color: white;
            text-decoration: none;
        }
    }
}

h1{
    text-align: center;
    color: white;
    background-color: rgb(27, 105, 98);
    padding: 30px;
}

#logo{
    width: 250px;
    height: 120px;
    border: solid 5px rgb(23, 105, 98);
    border-radius: 30px;
    padding: 10px;
}

/* INFORMACION DE LA UNIVERSIDAD */
#logo3{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 3px rgb(44, 60, 39);
    border-radius: 30%;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
/* section sita y organizacion */
.org{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-org{
    width: 600px;
    height: 450px;
    padding-bottom: 15px;
}
/* parrafo con info de la uni */

.main-informacion{
    .p-info{
        font-size: 40px;
        margin: 20px;
        color: black;
        font-size: 23px;;
    }
} 
section div{
    font-size: 20px;
}
/* CV */
.main-cv{
    .nombre-cv{
        padding: 30px;
        text-align: center;
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(27, 105, 98);
    }
    .nombre{
        font-size: 35px;
        padding: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: rgb(27, 105, 98);
    }
    .div-cv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .foto-curriculum{
            width: 230px;
            height: 280px;
            border-radius: 60px;
        }
    }


}

.main-index h2{
    text-align: center;
}
.main-index p{
    border: solid 5px rgb(27, 105, 98);
    border-radius: 20px;
    background-color: rgb(202, 196, 189);
    padding: 10px;
}

.datos{
    .lista{
        li{
            list-style-type: disc;
            margin-left: 50px;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    .estudios{
        font-size: 45px;
        padding: 15px;
        text-align: center;
        color: rgb(27, 105, 98);
    }
    .conocimientos{
        font-size: 45px;
        padding: 15px;
        text-align: center;
        color: rgb(27, 105, 98);
    }
}

